APP_NAME=CONTXT
SECRET_KEY='django-insecure-mgx&0-(w7s@52nzln43r^s928pre8-(fzwvovt%2iu7g2b72i4'
DEBUG=True
ENVIRONMENT=DEVELOPMENT
TEST_MODE=False

USE_SQLITE=False


ALLOWED_HOSTS=localhost,

POSTGRES_DB=contxt
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
DB_HOST=db
DB_PORT=5432


REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=123
REDIS_URL=redis://redis:6379/

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_TIMEZONE=UTC

# Login module variables
USERNAME=
PASSWORD=
LOGIN_BUTTON_TEXT=Login >>
LOGIN_PAGE=Login.aspx
LOGIN_REQUEST_HEADER='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36'
LOGIN_EMAIL_FIELD_ID='ctl00$mainContentPlaceHolder$loginUserNameTextBox'
LOGIN_PASSWORD_FIELD_ID='ctl00$mainContentPlaceHolder$loginPasswordTextBox'
LOGIN_BUTTON_ID='ctl00$mainContentPlaceHolder$loginButton'
SUPER_SECRET_INITIAL_USER_PASSWORD='m5mfrMp{n~Lcp2NUb'

USE_PROXY=False
PROXY_URL=http://Glenna:r3orm8Ot2j=WmgJcO5@us.smartproxy.com:10000

# Pull Email Module variables
PULL_EMAIL_REQUEST_HEADERS='{"Accept": "*/*", "Accept-Encoding": "gzip, deflate, br", "Accept-Language": "en-US,en;q=0.5", "Content-Type": "application/x-www-form-urlencoded; charset=utf-8", "X-MicrosoftAjax": "Delta=true", "X-Requested-With": "XMLHttpRequest", "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36", "Referer": "INBOX_URL"}'

COMPRESSED_VIEWSTATE_ID='input[name="__COMPRESSEDVIEWSTATE"]'
EMAIL_ROWS_CSS_SELECTOR='tr[onmouseover^="this.className=\'MessageDataGrid ItemHighlighted\'"]'
FROM_ELEMENT_CSS_SELECTOR='th.MessageDataGrid.Item a.tooltip span'
SUBJECT_ELEMENT_CSS_SELECTOR='td.MessageDataGrid.Item a.tooltip span'
DATE_ELEMENT_CSS_SELECTOR='td.MessageDataGrid.Item:nth-child(4)'
PULL_EMAIL_EVENTTARGET='ctl00$mainContentPlaceHolder$inboxGridView'
ASYNCPOST='true'
TOPSCRIPTMANAGER='ctl00$mainContentPlaceHolder$inboxGridView'

# Push Email Module variables
MAX_EMAIL_REPLY_RETRIES=3
HEADERS_FOR_PUSH_EMAIL_REQUEST='{"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:127.0) Gecko/20100101 Firefox/127.0","Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","Accept-Encoding": "gzip, deflate, br","Referer": "https://www.corrlinks.com/Inbox.aspx","X-Requested-With": "XMLHttpRequest","X-MicrosoftAjax": "Delta=true"}'
SPLASH_URL='http://localhost:8050/execute'
STATIC_COOKIES='{"__cflb": "02DiuJS4Qt1fYJgjizGYDpBdpvG3kZuePiK6aACa2VVk8","cf_clearance": "NVzVrHA955EqW3BWDz88iyjl3C9DgxYunr5aA39Ime0-1720556066-1.0.1.1-iRuayH1JZaLN0s7CorH6YLiiL6473CYJDarLnx57PclIoO3rJL1j_WVDVTzRamuBzuDeGSzZA8Hf4rj2BVzjZg"}'


# URLs
BASE_URL=https://www.corrlinks.com/
INBOX_PAGE=Inbox.aspx
HTTPBIN_IP_URL_HTTP=http://httpbin.org/ip
HTTPBIN_IP_URL_HTTPS=https://httpbin.org/ip
INBOX_URL=https://www.corrlinks.com/Inbox.aspx


