USE [master]
GO
/****** Object:  Database [ConTXT]    Script Date: 6/13/2024 2:14:38 PM ******/
CREATE DATABASE [ConTXT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConTXT', FILENAME = N'/var/opt/mssql/data/ConTXT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConTXT_log', FILENAME = N'/var/opt/mssql/data/ConTXT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConTXT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConTXT]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 6/13/2024 2:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ContactName] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[EmailAddress] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emails]    Script Date: 6/13/2024 2:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emails](
	[EmailID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SentDateTime] [datetime] NOT NULL,
	[Subject] [varchar](255) NOT NULL,
	[Body] [varchar](max) NOT NULL,
	[MessageID] [varchar](255) NOT NULL,
	[Processed] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMS]    Script Date: 6/13/2024 2:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS](
	[SMSID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[TextID] [varchar](35) NOT NULL,
	[Number] [varchar](15) NOT NULL,
	[Direction] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SMSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionHistory]    Script Date: 6/13/2024 2:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionHistory](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[TransactionType] [varchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[BalanceBefore] [decimal](18, 2) NOT NULL,
	[BalanceAfter] [decimal](18, 2) NOT NULL,
	[Description] [varchar](255) NULL,
	[Status] [varchar](50) NOT NULL,
	[ReferenceID] [varchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/13/2024 2:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Active] [char](1) NOT NULL,
	[UserName] [varchar](255) NULL,
	[Age] [int] NULL,
	[Sex] [char](1) NULL,
	[PrivateMode] [char](1) NULL,
	[AccountBalance] [decimal](10, 2) NOT NULL,
	[CustomEmail] [varchar](30) NOT NULL,
	[ActiveUntilDate] [date] NOT NULL,
	[SMSLeft] [varchar](7) NOT NULL,
	[CustomNumber] [varchar](12) NOT NULL,
	[ExtraSMS] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_user]    Script Date: 6/13/2024 2:14:38 PM ******/
CREATE NONCLUSTERED INDEX [idx_user] ON [dbo].[Contacts]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_email_user]    Script Date: 6/13/2024 2:14:38 PM ******/
CREATE NONCLUSTERED INDEX [idx_email_user] ON [dbo].[Emails]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sms_contact]    Script Date: 6/13/2024 2:14:38 PM ******/
CREATE NONCLUSTERED INDEX [idx_sms_contact] ON [dbo].[SMS]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emails] ADD  DEFAULT ('N') FOR [Processed]
GO
ALTER TABLE [dbo].[TransactionHistory] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[TransactionHistory] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0.00)) FOR [AccountBalance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('none@contxts.net') FOR [CustomEmail]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('2024-01-01') FOR [ActiveUntilDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0/500') FOR [SMSLeft]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('000-000-0000') FOR [CustomNumber]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0/250') FOR [ExtraSMS]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [fk_user] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [fk_user]
GO
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD  CONSTRAINT [fk_email_user] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Emails] CHECK CONSTRAINT [fk_email_user]
GO
ALTER TABLE [dbo].[SMS]  WITH CHECK ADD  CONSTRAINT [fk_sms_contact] FOREIGN KEY([UserID])
REFERENCES [dbo].[Contacts] ([ContactID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS] CHECK CONSTRAINT [fk_sms_contact]
GO
ALTER TABLE [dbo].[TransactionHistory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD CHECK  (([Processed]='N' OR [Processed]='Y'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Active]='N' OR [Active]='Y'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([PrivateMode]='N' OR [PrivateMode]='Y'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Sex]='F' OR [Sex]='M'))
GO
USE [master]
GO
