<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quota Limit Reached</title>
</head>
<body>
    <p>Dear {{ user_name }},</p>

    <p>We wanted to let you know that you have reached your sms quota limit. The remaining quota limit is <strong>{{ quota_limit }}</strong>.</p>
    <p>Until this is resolved, the Send sms service will not work.</p>

    <p>So kindly resolve this issue at your earliest convenience</p>

    <p>Best regards,</p>
    <p>Team Developer</p>
</body>
</html>
